.Loader-indicator.fade-enter,
.Loader-content.fade-enter {
  opacity: 0;
}

.Loader-indicator.fade-enter-active,
.Loader-content.fade-enter-active {
  opacity: 1;
}

.Loader-indicator.fade-leave,
.Loader-content.fade-leave {
  opacity: 1;
}

.Loader-indicator.fade-leave-active,
.Loader-content.fade-leave-active {
  opacity: 0;
}

.Loader-content,
.Loader-indicator {
  transition: opacity 1s;
}
.Loader-ellipsisDot {
  padding: 0 3px 0 1px;
  opacity: 0;
  animation: planeguy 4s linear infinite;
}
@keyframes Loader-ellipsisDot1 {
  0%   { opacity: 0; }
  25%  { opacity: 0; }
  35%  { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes Loader-ellipsisDot2 {
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  60%  { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes Loader-ellipsisDot3 {
  0%   { opacity: 0; }
  75%  { opacity: 0; }
  85%  { opacity: 1; }
  100% { opacity: 1; }
}
.Loader-ellipsisDot:nth-child(1) {
  animation-name: Loader-ellipsisDot1;
}

.Loader-ellipsisDot:nth-child(2) {
  animation-name: Loader-ellipsisDot2;
}

.Loader-ellipsisDot:nth-child(3) {
  animation-name: Loader-ellipsisDot3;
}

.svg {
  width: 5%;
  height: auto;

}

@keyframes planeguy {
   0% {transform: rotate(360deg) translateX(75px) translateY(20px); }
   30% { transform: rotate(0deg) translateX(75px) translateY(-20px);}
   70% { transform: translateX(100px) translateY(-200px);}
   100% { transform: translateY(-400px);}
}

/*on load, fadeout.plane?*/
.plane {
  animation: planeguy 4s linear infinite;
  display: block;
  position: absolute;
  opacity: .1;
  z-index: 4;
}
