.profileCard {
  background-color: white;
  padding: 3px 16px;
  border-radius:4px;
  flex-basis: 200px;
}
.profileCard .title{
  font-size: 20px;
  font-style: bold, italic;
  color: black;
}
.profileCard img {
  border-radius:50%;
  display:inline-block;
  max-width:100%;
  margin-top: 10px;
  width: 64px;
  height: 64px;
  background: #FCCD8C;
}
.image-upload {
  width: 235px;
  margin: 20px;
}
.card {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius:4px;
    transition: 0.3s;
    background-color: white;
    float: left;
    margin: 8px;
    opacity: .7;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    opacity:1;
}

.profile-container {
    padding: 3px 16px;
    font-style: italic;
}
.inline-block {
  display: inline-block;
}

.topSpacing {
  margin-top: 20px;
}

.form-width {
  width: 267px;
  margin: 0 auto;
  padding: 20px 0;
}

.schemeButton {
  float:left;
  padding: 20px 0;

}

.profile-page {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.profile-info {
  flex-basis: auto;
  text-align: left;
  display: block;
}

.profile-info button {
  display: block
}
