.summary {
  padding: 20px;

}
.summary .h1 {
  margin-right: 20px;
  display: inline;
}
button {
  opacity: 1;
  background: #1A334F;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  border: none;
  margin: 5px 10px;
}

button:focus {
  outline: none;
}
button:hover {
  opacity: .8;
  transition: opacity .2s ease-in-out;
 -moz-transition: opacity .2s ease-in-out;
 -webkit-transition: opacity .2s ease-in-out;
 -o-transition: opacity .2s ease-in-out;
  cursor: pointer;
}
.note, .edit {
  font-family: 'Crimson Text', serif;
  width: 100%;
  color: #95989A;
  resize: none;
  border: none;
  overflow: hidden;
  min-height: 50vh;
}
.h1 {
  font-family: 'Crimson Text', serif;
  color: #1A334F;
  font-size: 2em;
  resize: none;
  border: none;
  overflow: hidden;
}
.h1, .icon {
  vertical-align: top;
}
.h1::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #1A334F;
}
.h1::-moz-placeholder { /* Firefox 19+ */
  color: #1A334F;
}
.h1:-ms-input-placeholder { /* IE 10+ */
  color: #1A334F;
}
.h1:-moz-placeholder { /* Firefox 18- */
  color: #1A334F;
}
.note::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #BCBDBE;
}
.note::-moz-placeholder { /* Firefox 19+ */
  color: #BCBDBE;
}
.note:-ms-input-placeholder { /* IE 10+ */
  color: #BCBDBE;
}
.note:-moz-placeholder { /* Firefox 18- */
  color: #BCBDBE;
}
.note:focus, .h1:focus {
  outline: none;
}
.summary .h1 {
  font-family: 'Crimson Text', serif;
}

.brevity {
  width: 250px;
}
.brevity label {
  font-size: 14px;
  color: #1A334F;
  display: block;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  width: auto;
}
.slider {
  border-radius: 30px;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #F9B045;
    border-radius: 50px;
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.icon {
  margin: 0 20px;
  display: inline;
  border-radius: 50px;
  margin: 0px;
  width: 50px;
  height: 50px;
  padding: 13px;
}

.orange {
  background: white;
}
.orange:hover {
  border: 1px solid #95989A;
  transition: border-color .2s ease-in-out;
 -moz-transition: border-color .2s ease-in-out;
 -webkit-transition: border-color .2s ease-in-out;
 -o-transition: border-color .2s ease-in-out;
}
.fixed {
  z-index: 1;
  bottom: 20px;
  position: fixed;
}
.save {
  margin-left: -100px;
}
.fixed-slider {
  left: 20px;
}

@media (min-width: 500px) {
  .summary {
    padding: 0 20%;
  }
}
.summary-sentence {
  color: #1A334F;
  text-align: left;
  padding-left: 30px;
  cursor: pointer;
}
.non-summary-sentence {
  color: #95989A;
  text-align: left;
  padding-left: 30px;
  cursor: pointer;
}

.summary-sentence:hover::before {
    background: url("../assets/x-icon.svg") no-repeat;
}
.non-summary-sentence:hover::before {
    background: url("../assets/plus-icon.svg") no-repeat;
}
.summary-sentence:hover::before, .non-summary-sentence:hover::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: -31px;
  cursor: pointer;
}
.marginBottom {
  margin-bottom: 80px;
}
errorClass {
  display:inline-block;
}
/*plus/minus for modifying*/
.modify-button {
  z-index: 1;
  opacity: .5;
  border-radius: 50%;
  text-align: center;
  background-color: #FFFFFF;
  color: #1A334F;

}
.modify-button.hover {
  opacity: 1;
}
.modify-button.after {
  content: '';
	position: absolute;
  /*change position relative to sentence? always on side? dependent on cursor? will test*/
	bottom: 50%;
	left: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #FFFFFF;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}
.folderField {
  display: block;
  width:50%;
  border-radius:4px;
  margin: auto;
}

.title-icon {
  display: inline;
}
.title-icon h1, .title-icon button {
  display: inline;
  vertical-align: middle;
}
.title-icon .icon:hover {
  border: none;
}
.drop.options {
  bottom: 91px;
  top: auto;
  right: 30px;
  left: auto;
  border-radius: 27px 27px 0px 27px;
}
.drop.options p {
  cursor: pointer;
}
.drop.options p:hover {
  opacity: .5;
}
