.carousel {
    position: relative;
    display:inline-block;
    margin-top: 10px;
}
i {
    border: solid black;
    display: inline-block;
    padding: 3px;
    opacity: .6;
}
i:hover {
  opacity: 1;
  cursor: pointer;
}
.rightArrow{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    float:right;
    bottom: 40px;
}
.leftArrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    float:left;
    bottom: 40px;
}
