body {
  font-family: 'Questrial', sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #1A334F;
  width: 100%;
  font-size: 15px;
}
.crimson {
  font-family: 'Crimson Text', serif;
}
.questrial {
  font-family: 'Questrial', sans-serif;
}
html, body, #root, .app-root {
  height: 100%;
  margin: 0;
}
a {
  color:  #1A334F;
}
a:hover {
  opacity: .8;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
button, textarea {
  font-size: 20px;
}
h1, button {
  font-family: 'Questrial', sans-serif;
}
p {
  font-family: 'Crimson Text', serif;
}

.page {
  padding: 20px;
}

.bgorange {
  background-color: #F9B045;
  color: #1A334F;
}

.bgnight {
  background-color: #395f89;
  color: #F9B045;
}
errorClass {
  display:inline-block;
}

.bgnight .bgorange {
  background-color: #395f89;
  color: #fb6969;
}
.bgred .bgorange, .bgred {
  background-color: #fb6969;
  color: #F9B045;
}

.bgorange .bar1, .bgorange .bar2, .bgorange .bar3{
  background: white;
}

.bgnight .orange, .bgorange .orange, .bgred .orange {
  background: none;
}
.night {
  background: #3d6592;
}

.night p, .night h1 {
  color: white;
}
.night .h1::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #BCBDBE;
}
.night .h1::-moz-placeholder { /* Firefox 19+ */
  color: #BCBDBE;
}
.night .h1:-ms-input-placeholder { /* IE 10+ */
  color: #BCBDBE;
}
.night .h1:-moz-placeholder { /* Firefox 18- */
  color: #BCBDBE;
}
