body {
  font-family: 'Questrial', sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #1A334F;
  width: 100%;
  font-size: 15px;
}
html, body, #root, .app-root {
  height: 100%;
  margin: 0;
}
a {
  color:  #1A334F;
}
a:hover {
  opacity: .8;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
button, textarea {
  font-size: 20px;
}
h1, button {
  font-family: 'Questrial', sans-serif;
}
p {
  font-family: 'Crimson Text', serif;
}

.page {
  padding: 20px;
}

.bgorange {
  background-color: #F9B045;
  color: #1A334F;
}
/* lol */
.bgnight {
  background-color: #1A334F;
  color: #F9B045;
}

.svg {
  width: 5%;
  height: auto;

}

@keyframes planeguy {
   0% {transform: rotate(360deg) translateX(75px) translateY(20px); }
   30% { transform: rotate(0deg) translateX(75px) translateY(-20px);}
   100% { transform: translateX(100px) translateY(-500px) ;}

}

/*on load, fadeout.plane?*/
.plane {
  animation: planeguy 4s linear infinite;
  display: block;
  position: absolute;
  opacity: .2;
  z-index: 4;
}
